[submodule "My_Investment_Database/yfapi"]
	path = data_server/yfapi
	url = https://github.com/nelson9503-pymodules/yfapi.git
[submodule "My_Investment_Database/iexcloudapi"]
	path = data_server/iexcloudapi
	url = https://github.com/nelson9503-pymodules/iexcloudapi.git
[submodule "data_server/trendtable"]
	path = data_server/trendtable
	url = https://github.com/nelson9503-pymodules/trendtable.git
[submodule "data_server/investdb_keepers"]
	path = data_server/investdb_keepers
	url = https://github.com/nelson9503-pymodules/investdb_keepers.git
